@import "scss/variables";
@import "~bulma";

.card-equal-height {
  height: 100%;
}

.profile-picture {
  img {
    border: 2px solid transparent;
  }
  border-radius: 50%;
  border: 2px solid $danger;
}
