$blue: #0b3556;
// $indigo: #;
$purple: #5f7c8b;  // TODO palette
$pink: #ef7b89;  // TODO palette
$red: #FF4F4E;
// $orange: #;
// $yellow: #;
$green: #5f7c8b;
$teal: #67dfcd;  // TODO palette
$cyan: #5f7c8b;  // TODO palette
$white: #fff;
// $gray-600: #;
$gray-800: #343638;

$body-color: #434343;
$font-color: $body-color;

$font-family-base: 'Open Sans', 'Roboto', sans-serif;

// $link-color:  $red;
// $link-hover-color:        lighten($red, 10%);
