$blue: #0b3556;
$indigo: #B89FF3;
$purple: #886FA7;
$pink: #CB4688;
$red: #FF4F4E;
$orange: #F18067;
$yellow: #DBBA50;
// $green: #5f7c8b; // TODO palette
$teal: #1BA892;
$cyan: #7F90A9;
$white: #fff;
// $gray-600: #;
$gray-800: #343638;

$body-color: #434343;
$body-bg: #ECEBE7;
$font-color: $body-color;

$font-family-base: 'Open Sans', 'Roboto', sans-serif;

// $link-color:  $red;
// $link-hover-color:        lighten($red, 10%);
