// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// $gap: 32px;
// $tablet: (12 * 16 * 4 + 1)px;
// $desktop: (12 * 16 * 4 + (2 * $gap))px;
// $widescreen:  (12 * 16 * 5 + (2 * $gap))px;
// $fullhd: (12 * 16 * 6 + (2 * $gap))px;

// Disable the widescreen breakpoint
$widescreen-enabled: false;

// Disable the fullhd breakpoint
$fullhd-enabled: false;

$card-shadow: 0 2px 1px rgba(150, 150, 150, 0.1), 0 0 0 1px rgba(150, 150, 150, 0.1);
